# Refugee Data: Where, When & How #

### Group members: Camille Stacho, Julia D'Zmura, Jordan Mess ###

#### Introduction: ####

For this project, we wanted to....

#### Required Tools ####

- requests
- pandas

Current resources:
   - [WRAPS](http://www.wrapsnet.org/admissions-and-arrivals/)
   - [Homeland Security](https://www.dhs.gov/immigration-statistics/refugees-asylees)

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('data/past10.csv')
df.columns = ['Country / territory of asylum/residence	', 'Origin', 'Year','Month','Value']
df = df.iloc[3:]

In [15]:
df.head()

  Country / territory of asylum/residence\t       Origin  Year     Month Value
3                                 Australia  Afghanistan  1999   January     8
4                                 Australia  Afghanistan  1999  February    10
5                                 Australia  Afghanistan  1999     March    25
6                                 Australia  Afghanistan  1999     April    25
7                                 Australia  Afghanistan  1999       May     7